build/
out/
/bin/*
!/bin/list.txt
!/bin/LICENSE_THIRD_PARTY.txt
obj/

*.o
*.a
*.so
*.dll
*.exe
*.dylib
*.luac
*.pyc
__pycache__/
__yaca__/
.mimocode/
node_modules/

CMakeFiles/
CMakeCache.txt
cmake_install.cmake
compile_commands.json

lua_modules/
.luarocks/

.vscode/
.idea/
.DS_Store
Thumbs.db

*.log
.env
.env.*
!.env.example
